@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#1E1E1E] text-white;
  }
}

.button-primary {
  @apply bg-spring-green-500 rounded-full h-[40px] font-semibold uppercase disabled:bg-spring-green-600 disabled:hover:bg-spring-green-500 text-black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #27272a;
  caret-color: white;
}

.toast-success {
  @apply bg-green-400 border-green-500 text-black [&>button]:text-black [&>button]:hover:text-black;
}

.flip-card {
  @apply justify-center items-center flex w-full h-full overflow-hidden;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  @apply w-4/6 max-w-[500px] h-auto;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.input-opt {
  @apply bg-[#181818] text-white;
  caret-color: white !important;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:vertical {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar {
  @apply h-1.5 w-1.5 rounded-xl bg-transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb:vertical {
  @apply h-[1px] w-[1px] rounded-xl bg-transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:horizontal {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar-thumb:horizontal {
  @apply h-[1px] w-[1px] rounded-xl bg-transparent;
}

.recharts-tooltip-cursor {
  fill-opacity: 0.3 !important;
}

.button-sliced {
  --background-color: #222121;
  --border-color: white;
  --border-width: 2px;
  --edge-size: 1em;
  --text-color: white;

  color: var(--text-color);
  cursor: pointer;
  background: var(--background-color);
  padding: 0.5em 1.5em;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(
    var(--edge-size) 0%,
    100% 0,
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    0 100%,
    0% var(--edge-size)
  );
  transition: color 250ms;
}

.button-sliced::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--border-color);
  z-index: -2;
}

.button-sliced::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background-color);
  z-index: -1;
  clip-path: polygon(
    var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
    calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(var(--border-width)) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.button-sliced:hover::after {
  clip-path: polygon(
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
}





.card-sliced {
  --background-color: #222121;
  --border-color: white;
  --border-width: 2px;
  --edge-size: 2em;
  --text-color: white;

  color: var(--text-color);
  cursor: pointer;
  background: var(--background-color);
  padding: 0.5em 1.5em;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(
    var(--edge-size) 0%,
    100% 0,
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    0 100%,
    0% var(--edge-size)
  );
  transition: color 250ms;
}

.card-sliced::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--border-color);
  z-index: -2;
}

.card-sliced::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background-color);
  z-index: -1;
  clip-path: polygon(
    var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
    calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(var(--border-width)) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.tilt {
  display: block;
  transition: box-shadow 0.1s, transform 0.1s;
}

.text-shadow-green {
  text-shadow: 2px 4px 4px rgba(0, 127, 72, 0.361);
}


.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:vertical {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar {
  @apply h-1.5 w-1.5 rounded-xl bg-transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb:vertical {
  @apply h-[1px] w-[1px] rounded-xl bg-transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:horizontal {
  @apply bg-neutral-500;
}

.scrollbar-hide::-webkit-scrollbar-thumb:horizontal {
  @apply h-[1px] w-[1px] rounded-xl bg-transparent;
}

.sliced {
  --border-width: 2px;
  --edge-size: 1em;
  --border-color: white;

  cursor: pointer;
  padding: 0.5em 1.5em;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(
    var(--edge-size) 0%,
    100% 0,
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    0 100%,
    0% var(--edge-size)
  );
  transition: color 250ms;
}

.sliced::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
}

.sliced::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: polygon(
    var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
    calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(var(--border-width)) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}